
<!-- Typographie -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

<!-- Fichier CSS -->
<link href="../../public/vendor/aos/aos.css" rel="stylesheet">
<link href="../../public/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="../../public/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
<link href="../../public/css/style.css" rel="stylesheet">