<footer id="footer" class="footer-inner-pages">
    <div class="container">
        <div class="copyright-wrap d-md-flex py-4">
        <div class="me-md-auto text-center text-md-start">
            <div class="copyright">
            &copy; Copyright <strong><span>Nederge</span></strong>. Tous droits réservés
            </div>

        </div>
        <div class="social-links text-center text-md-right pt-3 pt-md-0">
            <div class="credits">
            Projet effectué par <b>HADID Hocine </b>&<b> CHEMIN Pierre</b></a> <br>
            </div>
        </div>
        </div>
    </div>
</footer>